<a href="https://colab.research.google.com/github/SohamSinghal/PythonProjects/blob/master/ML_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("carprices.csv")

In [ ]:
print(data)

                Car Model  Mileage  Age(yrs)  Sell Price($)
0                  BMW X5    69000         6          18000
1                  BMW X5    35000         3          34000
2                  BMW X5    57000         5          26100
3                  BMW X5    22500         2          40000
4                  BMW X5    46000         4          31500
5                 Audi A5    59000         5          29400
6                 Audi A5    52000         5          32000
7                 Audi A5    72000         6          19300
8                 Audi A5    91000         8          12000
9   Mercedez Benz C class    67000         6          22000
10  Mercedez Benz C class    83000         7          20000
11  Mercedez Benz C class    79000         7          21000
12  Mercedez Benz C class    59000         5          33000

In [ ]:
x = data.iloc[:,0:-1].values#independent variables
y = data.iloc[:,-1].values #dependent variable

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("encode",OneHotEncoder(),[0])],remainder = "passthrough")
ct.fit(x)
x = np.array(ct.transform(x))

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()

In [ ]:
model_lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = model_lr.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[23354.12 26100.  ]
 [40828.37 40000.  ]
 [29001.21 31500.  ]]